Repository MScheltjens/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, eslint --fix

mjs and yaml in ignore files
  .eslintignore
  .prettierignore
Due: none

fixes in form and rounded
  app/[lang]/about/page.tsx
  components/Intro.tsx
  components/forms/contact-form.tsx
  components/header.tsx
  components/ui/button.tsx
  components/ui/dropdown-menu.tsx
  components/ui/input.tsx
  components/ui/layout-grid.tsx
  components/ui/skeleton.tsx
  components/ui/textarea.tsx
Due: prettier --write, eslint, eslint --fix

skeleton fix
  components/ui/layout-grid.tsx
Due: prettier --write, eslint, eslint --fix

fixed skeletons
  app/[lang]/about/page.tsx
  components/forms/contact-form.tsx
Due: prettier --write, eslint, eslint --fix

intro to hero
  app/[lang]/page.tsx
  components/header.tsx
  components/hero.tsx
  components/ui/tabs.tsx
  i18/dictionaries/de.json
  i18/dictionaries/en.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint, eslint --fix

hero card
  app/[lang]/page.tsx
  components/hero.tsx
  i18/dictionaries/de.json
Due: prettier --write, eslint, eslint --fix

hero as card
  components/hero.tsx
Due: prettier --write, eslint, eslint --fix

bento-grid
  app/[lang]/projects/page.tsx
  components/projects-layout.tsx
  components/ui/bento-grid.tsx
  components/ui/layout-grid.tsx
Due: prettier --write, eslint, eslint --fix

new grid
  app/[lang]/projects/page.tsx
Due: prettier --write, eslint, eslint --fix

background grid animation
  app/[lang]/layout.tsx
  components/hero.tsx
  components/ui/animated-grid-pattern.tsx
  components/ui/bento-grid.tsx
Due: prettier --write, eslint, eslint --fix

layout fixes
  components/forms/contact-form.tsx
  components/page-heading.tsx
Due: prettier --write, eslint, eslint --fix

spacings fixed
  app/[lang]/about/page.tsx
  app/[lang]/contact/page.tsx
  app/[lang]/page.tsx
  app/[lang]/projects/page.tsx
  components/header.tsx
  components/hero.tsx
  components/page-heading.tsx
Due: prettier --write, eslint, eslint --fix

err fix
  app/[lang]/projects/page.tsx
Due: prettier --write, eslint, eslint --fix

page-spacings
  app/[lang]/about/page.tsx
  app/[lang]/contact/page.tsx
  app/[lang]/projects/page.tsx
  components/forms/contact-form.tsx
Due: prettier --write, eslint, eslint --fix

sublayout
  app/[lang]/(informative)/about/page.tsx
  app/[lang]/(informative)/contact/page.tsx
  app/[lang]/(informative)/layout.tsx
  app/[lang]/(informative)/page.tsx
  app/[lang]/(informative)/projects/page.tsx
  app/[lang]/contact/page.tsx
  app/[lang]/layout.tsx
Due: prettier --write, eslint, eslint --fix

documentation for layout
  app/[lang]/(informative)/layout.tsx
Due: prettier --write, eslint, eslint --fix

spacing hero and tabs about
  app/[lang]/(informative)/about/page.tsx
  app/[lang]/(informative)/layout.tsx
  components/hero.tsx
Due: prettier --write, eslint, eslint --fix

basic data for aboutPage
  app/[lang]/(informative)/about/page.tsx
  app/[lang]/(informative)/contact/page.tsx
  app/[lang]/(informative)/layout.tsx
  app/[lang]/(informative)/page.tsx
  app/[lang]/(informative)/projects/page.tsx
  i18/dictionaries/de.json
  i18/dictionaries/en.json
Due: prettier --write, eslint, eslint --fix

type error fix
  components/forms/contact-form.tsx
Due: prettier --write, eslint, eslint --fix

translation fix
  i18/dictionaries/en.json
Due: prettier --write

download resume
  components/hero.tsx
  middleware.ts
  public/files/FSD-Mathias-Scheltjens.pdf
  public/images/gizmo.jpg
  public/images/me2.jpg
  public/images/megizmo.jpg
Due: prettier --write, eslint, eslint --fix

download tag url
  components/hero.tsx
Due: prettier --write, eslint, eslint --fix

other option enabled
  components/hero.tsx
Due: prettier --write, eslint, eslint --fix

other option
  components/hero.tsx
Due: prettier --write, eslint, eslint --fix

pdf fix
  components/hero.tsx
  public/files/FSD-Mathias-Scheltjens.pdf
  public/files/MathiasS-cv.pdf
Due: prettier --write, eslint, eslint --fix

locale fix download resume
  components/hero.tsx
  middleware.ts
  next.config.mjs
Due: prettier --write, eslint, eslint --fix

under construction
  app/[lang]/(informative)/about/page.tsx
  app/[lang]/(informative)/projects/page.tsx
Due: prettier --write, eslint, eslint --fix

nl and fr added
  i18/config.ts
  i18/dictionaries/fr.json
  i18/dictionaries/nl.json
  i18/get-dictionary.ts
Due: prettier --write, eslint, eslint --fix

translation fix
  i18/dictionaries/fr.json
  i18/dictionaries/nl.json
Due: prettier --write

lint-staged husky
  .lintstagedrc.json
  package.json
Due: none

lint staged husky try
  .husky/pre-commit
Due: none

rm precommit lines
  .husky/pre-commit
Due: none

better lint format
  .eslintrc
  .eslintrc.cjs
  .prettierrc
  app/[lang]/(informative)/about/page.tsx
  app/[lang]/(informative)/contact/page.tsx
  app/[lang]/(informative)/layout.tsx
  app/[lang]/(informative)/page.tsx
  app/[lang]/(informative)/projects/page.tsx
  app/[lang]/layout.tsx
  components/forms/contact-form-schema.ts
  components/forms/contact-form.tsx
  components/hamburger-menu.tsx
  components/header.tsx
  components/hero.tsx
  components/icon-link.tsx
  components/locale-switcher.tsx
  components/mode-toggler.tsx
  components/page-heading.tsx
  components/providers.tsx
  components/theme-provider.tsx
  components/ui/animated-grid-pattern.tsx
  components/ui/bento-grid.tsx
  components/ui/button.tsx
  components/ui/card.tsx
  components/ui/dropdown-menu.tsx
  components/ui/input.tsx
  components/ui/label.tsx
  components/ui/skeleton.tsx
  components/ui/sonner.tsx
  components/ui/tabs.tsx
  components/ui/textarea.tsx
  emails/contact-form-email.tsx
  i18/config.ts
  i18/get-dictionary.ts
  lib/actions.ts
  lib/utils.ts
  middleware.ts
  package.json
  prettier.config.js
  tailwind.config.ts
Due: prettier --write, eslint, eslint --fix

lint staged to module
  .lintstagedrc.json
  tsconfig.json
Due: none

eslint to json
  .eslintrc.json
Due: none

upgrade next 15 + global pagetypes
  app/[lang]/(informative)/about/page.tsx
  app/[lang]/(informative)/contact/page.tsx
  app/[lang]/(informative)/layout.tsx
  app/[lang]/(informative)/page.tsx
  app/[lang]/(informative)/projects/page.tsx
  app/[lang]/layout.tsx
  components/ui/bento-grid.tsx
  global.d.ts
  i18/dictionaries/de.json
  i18/dictionaries/en.json
  i18/dictionaries/nl.json
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write, eslint, eslint --fix

unused imports out
  app/[lang]/(informative)/layout.tsx
Due: prettier --write, eslint, eslint --fix

spreading navigation props
  app/[lang]/(informative)/layout.tsx
Due: prettier --write, eslint, eslint --fix

Path conditions:
  prettier --write: (any of: */**/*.{js,jsx,ts,tsx}) or (any of: */**/*.{json,css,md})
  eslint: any of: */**/*.{js,jsx,ts,tsx}
  eslint --fix: any of: */**/*.{js,jsx,ts,tsx}
